@font-face {
  font-family: "ponderosa";
  src: url("ponde___.ttf");
}

@font-face {
  font-family: "stamped";
  src: url("stamped.TTF");
}

@font-face {
  font-family: "chikare";
  src: url("ChiKareGo2.ttf");
}

.gameWindow {
  width: 800px;
  height: 600px;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.mainScreen {
  position: relative;
  background-image: url("title.png");
  width: 100%;
  height: 100%;
}

button {
  background: #fff;
  border-image: url(button.svg) 30 stretch;
  border-style: solid;
  border-width: 5.5px;
  color: #000;
  cursor: pointer;
  font-family: Chicago_12;
  font-size: 18px;
  min-height: 20px;
  min-width: 59px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font-family: "chikare";
}

button.disabled {
  min-height: 20px;
  min-width: 59px;
  text-align:center;
  background: #bbbbbb;
  border-style: solid;
  border-width: 5.5px;
  border-image: url("./button.svg") 30 stretch;
  color: var(--disabled);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "chikare";
  cursor: not-allowed;
}

.memo {
  width: 500px;
  height: 300px;
  position: absolute;
  left: 100px;
  top: 100px;
  border: 2px solid #000000;
  padding: 20px;
  line-height: 40px;
  background-color: white;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.memoScreen {
  /* start with memo hidden */
  display: none;

}

.stinkButtStickyNote {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 305px;
  top: 250px;
  border: 2px solid #000000;
  padding: 20px;
  line-height: 30px;
  background-color: white;
  z-index: 4;

  font-family: "Kalam", cursive;
  font-size: 16;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;

  /* Start hidden. */
  display: none;

  transition: all 1s ease;

}

.dolphinDoc {

  /* text */
  line-height: 40px;
  letter-spacing: 10px;
  font-size: 20px;
  font-family: 'ponderosa';
  color: #000000;


  /* shape/size/location */
  width: 680px;
  height: 480px;
  position: absolute;
  left: 50px;
  top: 50px;
  border: 2px solid #000000;
  padding: 20px;

  background-color: white;

  /* start with page hidden */
  display: none;
}

.profilePicture {
  width: 250;
  height: 300px;
  position: absolute;
  top: 50px;
  right: 50px;
  border: 2px solid #000000;
  padding: 20px;

  background-color: white;
  display: none;
}

.genericDoc {

  /* text */
  line-height: 40px;
  letter-spacing: 10px;
  font-size: 20px;
  font-family: 'ponderosa';
  color: #000000;


  /* shape/size/location */
  width: 680px;
  height: 480px;
  position: absolute;
  left: 50px;
  top: 50px;
  border: 2px solid #000000;
  padding: 20px;

  background-color: white;

  /* start with page hidden */
  display: none;
}

.word {
  user-select: none;
  position: relative;
}

.word:hover {
  outline: 5px dotted red;
}

.redacted {
  background-color: #000000;
  color: #000000;

}

.wordCanvas {
  position: absolute;
  top: -10%;
  left: -2%;
  width: 102%;
  height: 130%;
}

.startButton {
  position: absolute;
  height: 97px;
  width: 170px;
  left: 616px;
  top: 250px;
}

.endButton {
  position: absolute;
  /* height: 20px;
  width: 20px; */
  right: 0;
  bottom: 0;
  /* border: 2px solid red; */
}

.stampButton {
  position: absolute;
  /* height: 20px;
  width: 20px; */
  left: 0;
  top: 20px;
  border: 2px solid rgb(25, 0, 255);
}

.endScreen {
  display: none;
  background-image: url("ending-screen.png");
  height: 100%;
  width: 100%;
}

.endScreenCredits {
  width: 200px;
  height: 100px;
  position: relative;
  left: 515px;
  top: 135px;

  font-size: 25px;
  font-family: 'Special Elite';
}

.stamp {
  position: absolute;
  left: 28px;
  top: 197px;
  transform: rotate(326deg);
  border: 5px dotted green;

  font-family: 'stamped';
  color: green;
  font-size: 100px;

  border: 10px solid green;
  border-radius: 20px;

  /* i'm not sure why we have to set this by hand */
  height: 82px;

  padding-top: 20px;

  /* Start hidden */
  display: none;

  z-index: 5;
}

.stinkButtDoc {

  /* text */
  line-height: 35px;
  letter-spacing: 4px;
  font-size: 18px;
  font-family: 'ponderosa';
  color: #000000;


  /* shape/size/location */
  width: 680px;
  height: 405px;
  position: absolute;
  left: 50px;
  top: 50px;
  border: 2px solid #000000;
  padding: 20px;

  background-color: white;

  /* start with page hidden */
  display: none;
}